<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <link rel="stylesheet" href="/assets/css/style.css">

  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">Portfolio</h1>
      <h2 class="project-tagline">Danielle Balque</h2>
      <a href="https://github.com/semioj/psy341project.git" class="btn">View on GitHub</a>
    </header>

    <main id="content" class="main-content" role="main">
      <div>
        <h3>Project 1:</h3>
        <h3>Identifying High-Risk Texas Counties for Hurricane Impact Using Latitude and Population Data</h3>
        <p>This project aimed to identify Texas counties most vulnerable to hurricanes based on their geographical location and population size.</p>

        <h3>Data Cleaning and Exploration:</h3>
        <p>Our team began by importing and cleaning GIS data on Texas counties, removing duplicates and missing values. We then analyzed the latitude and longitude coordinates to assess each county's geographical positioning.</p>

        <h3>Hurricane-Prone Zones:</h3>
        <p>We found that hurricane-prone zones lie between latitudes 5-30. We visualized this through scatter plots, highlighting counties in this range. Notably, these counties are primarily in southern Texas.</p>

        <img width="626" alt="Texas Hurricane Impact" src="https://github.com/daniellebalque/images/raw/main/map2.png">

        <h3>Population Impact:</h3>
        <img src="https://github.com/daniellebalque/images/raw/main/Unknown-3.png" alt="Texas Counties by Population">
       
        <p>We also analyzed population data to assess which counties had the highest populations and intersected with hurricane-prone zones. The top ten counties by population were visualized, with four of these counties also being in the hurricane-prone zone: Bexar, Fort Bend, Harris, and Hidalgo. The final plot emphasized these high-risk counties with enlarged markers.</p>
        <img src="https://github.com/daniellebalque/images/raw/main/Unknown-4.png" alt="Texas Counties by Population">

        <h3>Joint Plots and Clustering:</h3>
        <p>To delve deeper into the spatial distribution of Texas counties, we created joint plots to visualize relationships between latitude and longitude coordinates. These plots offer insights into how counties are geographically clustered.</p>

        h4{font-size:14px; height:50px;}

        <h3>Northeast Clustering: </h3>
        
        <h3>Conclusion:</h3>
        <p>The analysis demonstrated that Texas has a considerable number of counties at risk from hurricanes, particularly in the southern regions. Furthermore, several of these counties also have large populations, indicating a significant potential impact from hurricane events.</p>

    
        <img src="https://github.com/daniellebalque/images/raw/main/Unknown-1.png" alt="Texas County Clustering">
        
        <img src="https://github.com/daniellebalque/images/raw/main/Unknown-2.png" alt="Texas Hurricane Zones">
        
       
      </div>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/daniellebalque/daniellebalque.github.io">daniellebalque.github.io</a> is maintained by <a href="https://github.com/daniellebalque">daniellebalque</a>.</span>
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
